
html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Aller_Bd', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: #8C9ED1;
  }

  .navbar {
    font-size: 1.5rem;
    background-color: #6D4C95;
  }
  
   .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  /*
  .grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, minmax(150px, 1rem)); ; 
    grid-template-rows: repeat(4, auto); 
    gap: 0.1rem; 
    width: 50%;
  }
  
  .grid-item {
    padding: 0.2rem;
  } */

@font-face {
    font-family: 'Aller';
    src: url('./fonts/Aller_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('./fonts/Aller_Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('./fonts/Aller_It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aller';
    src: url('./fonts/Aller_BdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aller';
    src: url('./fonts/AllerDisplay.ttf') format('truetype');
    font-weight: 900; /* Extra-bold or display weight */
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('./fonts/Aller_Lt.ttf') format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('./fonts/Aller_LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


.test {
    font-family: 'Aller', sans-serif;
    font-weight: bold;
    font-size: 2em;
    
}