html {
  height: 100%;
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding-top: 20px;
  font-family: 'Aller';
  background-color: whitesmoke;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  padding-bottom: 80px;
  overflow-x: hidden
    /* remove extra width / scroll */
}

#navBar {
  font-size: 1.2rem;
  background-color: white;
  height: 65px;
}

#navBar .navbar-collapse,
#navBar .navbar-toggler {
  background-color: white;
}

#navBar .active {
  font-weight: bold;
}

#carouselBtn {
  background-color: #8295d3;
}

.carousel-item img {
  width: 100px;
  height: 500px;
  object-fit: cover;
}

#backToTop {
  position: fixed;
  background-color: #8295d3;
  bottom: 20px;
  right: 20px;
  display: none;
  /* Hidden by default */
  z-index: 1000;
  border-radius: 50%;
  border-color: black;
  width: 50px;
  height: 50px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 46px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#counters {
  font-size: 1.2rem;
}

/* Ensure the card container stretches to full height */
#Services .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Optional: Make sure the card body takes up the remaining space */
#Services .card-body {
  flex-grow: 1;
}

/* Initially, the cards are hidden */
#Services .card.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

figure .row.fade {
  opacity: 0;
  transition-timing-function: ease-in;
  transition: opacity 0.5s;
}

figure .row.fade:nth-of-type(2) {
  transition-delay: 0.3s;
}

figure .row.fade:nth-of-type(3) {
  transition-delay: 0.6s;
}

figure .row.fade:nth-of-type(4) {
  transition-delay: 0.9s;
}

/* When the card becomes visible, fade it in */
#Services .card.fade.visible,
figure .row.fade.visible {
  opacity: 1;
}

.counter-box {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}



/* Initial state of the image */
.flow-in-left {
  opacity: 0;
  transform: translateX(100px);
  /* Adjust as needed for the desired effect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Final state of the image when it becomes visible */
.flow-in-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* Initial state of the image */
.flow-in-right {
  opacity: 0;
  transform: translateX(-100px);
  /* Adjust as needed for the desired effect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Final state of the image when it becomes visible */
.flow-in-right.active {
  opacity: 1;
  transform: translateX(0);
}


/* Initial state of the image */
.flow-in-up {
  opacity: 0;
  transform: translateY(100px);
  /* Adjust as needed for the desired effect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Final state of the image when it becomes visible */
.flow-in-up.active {
  opacity: 1;
  transform: translateY(0);
}


/* Initial state of the image */
.flow-in-down {
  opacity: 0;
  transform: translateY(-100px);
  /* Adjust as needed for the desired effect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Final state of the image when it becomes visible */
.flow-in-down.active {
  opacity: 1;
  transform: translateY(0);
}

/* Initial state of the image */
.flow-in-diagonal {
  opacity: 0;
  transform: translate(-100px, 100px);
  /* Adjust as needed for the desired effect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Final state of the image when it becomes visible */
.flow-in-diagonal.active {
  opacity: 1;
  transform: translateY(0);
}

.flow-in-sequential {
  opacity: 0;
  transform: translateX(20px);
  /* You can adjust this to slide in from different directions */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.flow-in-sequential.active {
  opacity: 1;
  transform: translateX(0);
}



.custom-col-1-5 {
  flex: 0 0 10%;
  max-width: 10%;
}


.max-width-50 {
  max-width: 50%;
}

.max-height-50 {
  max-height: 50%;
}

/* .counter-widget {
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#counter {
  font-size: 48px;
  color: #4caf50;
} */


.footer {
  background: #6a549c;
  position: absolute;
  width: 100%;
}




@font-face {
  font-family: 'Aller';
  src: url('./fonts/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.test {
  font-family: 'Aller', sans-serif;
  font-weight: bold;
  font-size: 2em;

}



#map {
  height: 100%;
  height: 400px;
  width: 100%;
}


@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/Aller/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/Aller/Aller_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/Aller/Aller_It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/Aller/Aller_BdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/Aller/AllerDisplay.ttf') format('truetype');
  font-weight: 900;
  /* Extra-bold or display weight */
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/Aller/Aller_Lt.ttf') format('truetype');
  font-weight: 300;
  /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('/assets/fonts/Aller/Aller_LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


#questionnaire .container {
  /* background-color: #6a549c; */
  /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24); */
}


/* From Uiverse.io by bhaveshxrawat */
.questionnaire-card {
  width: 190px;
  height: 254px;
  background: #6a549c;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.questionnaire-card h2 {
  z-index: 1;
  color: white;
  font-size: 1.5em;
}

.questionnaire-card::before {
  content: '';
  position: absolute;
  width: 100px;
  /* background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255)); */
  background-image: linear-gradient(180deg, #6D4C95, #8C9ED1);
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
  /* color: #8295d3; */
}


.custom-border {
  border-color: #6b4fa6 !important;
  border-width: 3px !important;
}

/* Customize animation delay for each element */
.animate__animated {
  animation-delay: var(--animate-delay, 0s);
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Prevents it from being interactive */
}

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight,
.animate__animated.animate__fadeInUp {
  opacity: 1;
  visibility: visible;
}

.my-fast-element {
  --animate-duration: 0.4s; /* Faster animations for specific elements */
}


@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.questionnaire-card::after {
  content: '';
  position: absolute;
  background: #6a549c;
  ;
  inset: 5px;
  border-radius: 15px;
}

/* .questionnaire-card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

.question {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.question.show {
  opacity: 1;
  transform: translateY(0);
}

#thank-you {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#thank-you.show {
  opacity: 1;
  transform: scale(1);
}