
html {
    height: 100%;
    box-sizing: border-box;
    
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Aller_Bd', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: whitesmoke;
    padding-bottom: 80px;
  }

  #navBar {
    font-size: 1.2rem;
    background-color: white ;
    height: 65px;
  }

  #navBar .navbar-collapse,
#navBar .navbar-toggler {
    background-color: white ;
}

#navBar .active{
  font-weight: bold;
}
  


  .footer {
    background: #6D4C95;
    position: absolute;
    width: 100%;
  }



@font-face {
    font-family: 'Aller';
    src: url('./fonts/Aller_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



.test {
    font-family: 'Aller', sans-serif;
    font-weight: bold;
    font-size: 2em;
    
}


@font-face {
  font-family: 'Aller';
  src: url('./fonts/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('./fonts/Aller_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('./fonts/Aller_It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aller';
  src: url('./fonts/Aller_BdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aller';
  src: url('./fonts/AllerDisplay.ttf') format('truetype');
  font-weight: 900; /* Extra-bold or display weight */
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('./fonts/Aller_Lt.ttf') format('truetype');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('./fonts/Aller_LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
