<footer class="footer text-md-left text-white pb-4 mt-5">
  <div class="container text-center text-md-left">
      <div class="row">
          <!-- Company Name Section -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <a class="navbar-brand" href="index.html">
                <img src="/assets/images/WELABEL_LOGO3.svg" alt="Logo" width="150" height="100" class="d-inline-block align-text-top" />
              </a>
          </div>

          <!-- Products Section -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning fw-bold">Products</h5>
              <p><a href="#" class="text-white" style="text-decoration: none; ">Creativity</a></p>
              <p><a href="#" class="text-white" style="text-decoration: none;">Creativity</a></p>
              <p><a href="#" class="text-white" style="text-decoration: none;">Creativity</a></p>
              <p><a href="#" class="text-white" style="text-decoration: none;">Source Files</a></p>
          </div>

          <!-- Quick Links Section -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning fw-bold">Quick Links</h5>
              <p><a href="#" class="text-white" style="text-decoration: none;">Your Account</a></p>
              <p><a href="#" class="text-white" style="text-decoration: none;">Shipping Rates</a></p>
              <p><a href="#" class="text-white" style="text-decoration: none;">Help</a></p>
          </div>

          <!-- Contact Section -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning fw-bold">Contact</h5>
              <p><i class="bi bi-house-door-fill mr-3"></i> Um Uthaina</p>
              <p><i class="bi bi-envelope-fill mr-3"></i> info@welabel.me</p>
              <p><i class="bi bi-telephone-fill mr-3"></i> +9999999</p>
              <p><i class="bi bi-printer-fill mr-3"></i> +1111111</p>
          </div>
      </div>

      <hr class="mb-4">

      <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
              <p>Copyright © 2024
                  <a href="#"><strong class="text-warning">WeLabel</strong></a>
              </p>
          </div>

          <!-- Social Media Section -->
          <div class="col-md-5 col-lg-4">
              <div class="text-center text-md-right">
                  <ul class="list-unstyled list-inline">
                      <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-white"><i class="bi bi-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-white"><i class="bi bi-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-white"><i class="bi bi-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-white"><i class="bi bi-linkedin"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
