<!-- Back to Top Button -->
<button type="button" class="btn btn-primary btn-floating" id="backToTop" title="Go to top">
    <i class="fa-solid fa-arrow-up"></i>
</button>
<!-- Footer  -->
<footer class="footer text-md-left text-white">
    <div class="container text-center text-md-left">
        <div class="row">
            <!-- <div class="row">
            <div class="col-6  mx-auto">
                <a class="navbar-brand" href="index.html">
                    <img src="/assets/images/WELABEL_LOGO3.svg" alt="Logo" width="150" height="100" class="d-inline-block align-text-top" />
                  </a>
              </div>
        </div> -->
            <!-- Company Name Section -->

            <!-- Contact Section -->
            <!-- <div class="col-6  mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-warning fw-bold">Contact</h5>
              <p><i class="bi bi-house-door-fill mr-3"></i> The Broadway, Wanchai, Hong Kong</p>
              <p><i class="bi bi-envelope-fill mr-3"></i> info@welabel.me</p>
              <p><i class="bi bi-telephone-fill mr-3"></i> +8618678922481, +962796373480</p>
          </div>
      </div> -->

            <div class="row mt-3">
                <div class="col">
                    <!-- Social Media Section -->
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/WeLabel.cn" class="btn-floating btn-sm text-white fs-4"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://x.com/WeLabel_cn" class="btn-floating btn-sm text-white fs-4"><i class="fa-brands fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/welabel.cn/" class="btn-floating btn-sm text-white fs-4"><i class="fa-brands fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/welabel/posts/?feedView=all" class="btn-floating btn-sm text-white fs-4"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="btn-floating btn-sm text-white fs-4"><i class="fa-brands fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <hr class="">

            <div class="row align-items-center">
                <p>Copyright © 2024
                    <a href="#" class="fw-bold text-white">WeLabel</a>
                </p>
            </div>
        </div>
</footer>